<div class="mb-4">
    <div class="flex items-center justify-between mb-2 text-sm dark:text-white">
        <h1 class="text-3xl font-semibold">{{ title }}</h1>
        {{ if software_version.active_version.github_settings.github_edit_root }}
        {{ current_file_path }}
        <a href="{{ software_version.active_version.github_settings.github_edit_root | se_str_finish('/') }}{{ current_path }}"
            class="flex items-center cursor-pointer hover:text-gray-700 dark:hover:text-gray-100" title="{{ trans:site_content.edit_on_github }}">
            {{ svg:hero-icons/outline/pencil class="w-4 h-4 mr-1" aria-hidden="true" /}}
            <span class="hidden md:inline">{{ trans:site_content.edit_on_github }}</span>
        </a>
        {{ /current_file_path }}
        {{ /if }}
    </div>
    <p class="print:block hidden">{{ trans:site_content.published_date date="{date | iso_format('LLL')}" }}</p>
</div>

<div id="content-container"
     class="
        prose prose-pre:flex prose-pre:flex-col dark:prose-invert
        max-w-none
        prose-pre:max-w-full
        prose-img:w-full
        prose-a:text-blue-700
        dark:prose-a:text-purple-400
    ">
    {{ slot /}}
</div>
