<html class="bg-slate-100/50">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ vite src="resources/css/site.css" }}
    </head>
    <body>
    <div class="relative w-full h-full pt-[10vh] flex flex-col justify-center">
        <div class="w-full h-full flex justify-center items-center pb-[20vh] sm:pb-[30vh] px-[6vw]">
            <span class="m-0 text-white text-lg sm:leading-[14.5vw] -rotate-2">
                <span class="bg-sky-800 font-bold leading-[1.5] text-[16vh] break-words text-white text-center"
                    style="padding: 0.5rem 1.5rem;box-decoration-break: clone;">
                    Whisp ∙ {{ title }}
                </span>
            </span>
        </div>
        <div
            class="absolute bottom-[10vh] right-0 flex sm:gap-x-4 md:gap-x-8 justify-end items-center w-full h-[19vh] pl-[6vw] pr-[5vw] text-gray-900">
            <span class="text-[7vh] leading-[1] text-right text-slate-800">{{ subtitle }}</span>

            {{ site_settings:full_logo }}
            <img src="{{ url | public_url }}" alt="{{ $siteName }}" class="h-[25vh] w-auto rounded-full">
            {{ /site_settings:full_logo }}
        </div>
    </div>
    </body>
</html>
